<style>
  .example .row{
    margin-bottom:10px;
  }
  .example .row div{
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
    text-align: center;
  }
</style>
<section>
  <div class="container">
    <h3>Grids</h3>
    <div class="example">
      <div class="row">
        <div class="col-1">col-1</div>
      </div>
      <div class="row">
        <div class="col-2">col-2</div>
        <div class="col-4">col-4</div>
        <div class="col-8">col-8</div>
        <div class="col-8">col-8</div>
      </div>
      <div class="row">
        <div class="col-3">col-3</div>
        <div class="col-3">col-3</div>
        <div class="col-6">col-6</div>
        <div class="col-12">col-12</div>
        <div class="col-12">col-12</div>
      </div>
      <div class="row">
        <div class="col-5">col-5</div>
        <div class="col-5">col-5</div>
        <div class="col-5">col-5</div>
        <div class="col-10">col-10</div>
        <div class="col-10">col-10</div>
        <div class="col-10">col-10</div>
        <div class="col-10">col-10</div>
      </div>
      <div class="row">
        <div class="col-7">col-7</div>
        <div class="col-7">col-7</div>
        <div class="col-7">col-7</div>
        <div class="col-7">col-7</div>
        <div class="col-7">col-7</div>
        <div class="col-7">col-7</div>
        <div class="col-7">col-7</div>
      </div>
      <div class="row">
        <div class="col-9">col-9</div>
        <div class="col-9">col-9</div>
        <div class="col-9">col-9</div>
        <div class="col-9">col-9</div>
        <div class="col-9">col-9</div>
        <div class="col-9">col-9</div>
        <div class="col-9">col-9</div>
        <div class="col-9">col-9</div>
        <div class="col-9">col-9</div>
      </div>
      <div class="row">
        <div class="col-11">col-11</div>
        <div class="col-11">col-11</div>
        <div class="col-11">col-11</div>
        <div class="col-11">col-11</div>
        <div class="col-11">col-11</div>
        <div class="col-11">col-11</div>
        <div class="col-11">col-11</div>
        <div class="col-11">col-11</div>
        <div class="col-11">col-11</div>
        <div class="col-11">col-11</div>
        <div class="col-11">col-11</div>
      </div>
    </div>
  </div>
</section>