.container{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}